<collection>
	
	<item src="/wp-content/themes/scroller/brandsbox/web/12rds.png" url="/myportfolio/twelve-rounds-brewing/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/csrc.png" url="/myportfolio/csrc/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/db.png" url="/myportfolio/david-bendeth/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/gfi.png" url="/myportfolio/gfi-digital/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/lasvapor.png" url="/myportfolio/las-vapor/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/wc.png" url="/myportfolio/wc-trucking/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/mfm.png" url="/myportfolio/mud-fears-me/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/ofit.png" url="/myportfolio/oxygen-fit/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/nami.png" url="/myportfolio/nami-la/" target="_self" />
	<item src="/wp-content/themes/scroller/brandsbox/web/smile.png" url="/myportfolio/smile/" target="_self" />
	
</collection>